[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/api/produtos"
  to = "https://produtos-ambiente-env-1.eba-njrz2a2f.sa-east-1.elasticbeanstalk.com/api/produtos"
  status = 200

[[redirects]]
  from = "/api/produtos/*"
  to = "https://produtos-ambiente-env-1.eba-njrz2a2f.sa-east-1.elasticbeanstalk.com/api/produtos/:splat"
  status = 200

[[redirects]]
  from = "/api/fichas/*"
  to = "https://produtos-ambiente-env-1.eba-njrz2a2f.sa-east-1.elasticbeanstalk.com/api/fichas/:splat"
  status = 200

[[redirects]]
  from = "/api/registro"
  to = "https://produtos-ambiente-env-1.eba-njrz2a2f.sa-east-1.elasticbeanstalk.com/api/registro"
  status = 200
  methods = ["POST"]

[[redirects]]
  from = "/api/login"
  to = "https://produtos-ambiente-env-1.eba-njrz2a2f.sa-east-1.elasticbeanstalk.com/api/login"
  status = 200
  methods = ["POST"]

[[redirects]]
  from = "/api/user"
  to = "https://produtos-ambiente-env-1.eba-njrz2a2f.sa-east-1.elasticbeanstalk.com/api/user"
  status = 200
  methods = ["GET"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
