@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0B468B;
}

html {
  height: 100%;
}

body {
  background: white;
  color: black;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.input-box {
  position: relative;
}

.login-input-box svg {
  position: absolute;
  height: 20px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #DEE0E4;
  font-size: 18px;
}

.input-box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
  transition: 300ms;
  pointer-events: none;
  font-size: 15px;
  color: rgb(127, 133, 141);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
}

.register-input-box label {
  left: 16px;
}

.input-box input {
  padding: 12px 16px 12px 48px;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
  outline: none;
  color: rgb(35 38 43);
}

.input-pad {
  padding: 12px 16px 12px 16px !important;
}

.check-pad {
  padding: 12px 38px 12px 16px !important;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  top: 0;
  left: 20px;
  background: white;
  padding: 0px 5px;
  color: var(--primary-color);
}

.input-box input:focus ~ .input-error,
.input-box input:not(:placeholder-shown) ~ .input-error {
  color: red !important;
}

.register-input-box input:focus ~ label,
.register-input-box input:not(:placeholder-shown) ~ label {
  left: 12px;
}


.input-box input:not(:focus) ~ label {
  color: rgb(127, 133, 141);
}

.input-box input:not(:focus) ~ .input-error {
  color: red;
}