@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--primary-color: #006292;*/
  /*--primary-color: #004a6e;*/
  --primary-color: #0B468B;
}

html {
  height: 100%;
}

body {
  background: white;
  color: black;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

